body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #113;
}


/*****Score style*****/

.score-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 2em;
    color:#112;
}

.score{
    opacity: 0;
}

/*****Transition style*****/

.show-canvas{
    animation: showCvs 1s forwards linear 0;
}

/*Launch a keyframes*/
@keyframes showCvs {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.canvas-cont{
    width: 100vw;
    height: 100vh;
    position:absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: hidden;
    opacity: 0;
}

.canvas{
    background: #113;
    width: 630px;
    height: 630px;
    display: grid;
    transform: rotateX(50deg);
    transform-style: preserve-3d;
    grid-template-rows: repeat(21,1fr);
    grid-template-columns: repeat(21, 1fr);
    animation: rotate 160s infinite 0s;
}

@keyframes rotate {
    0%{
        transform: rotateX(50deg) rotate(0deg);
    }
    50%{
        transform: rotateX(50deg) rotate(35deg);
    }
    100%{
        transform: rotateX(50deg) rotate(0deg);
    }
}

.snake{
    background: linear-gradient(darkgreen, green);
    transform-style: preserve-3d;
}

.front-snake{
    width: 30px;
    height: 30px;
    background: linear-gradient(darkgreen, green);
    transform: translateZ(30px);
}

.back-snake{
    width: 30px;
    height: 30px;
    background: linear-gradient(darkgreen, green);
    position: absolute;
    top: 0;
}

.left-snake{
    width: 30px;
    height: 30px;
    background: linear-gradient(darkgreen, green);
    position: absolute;
    top: 0;
    left: -30px;
    transform: rotateY(90deg);
    transform-origin: right;
}

.right-snake{
    width: 30px;
    height: 30px;
    background: linear-gradient(darkgreen, green);
    position: absolute;
    top: 0;
    left: -30px;
    transform: rotateY(90deg);
    transform-origin: right;
}

.right-fruit{
    width: 30px;
    height: 30px;
    background: linear-gradient(darkblue, blue);
    position: absolute;
    top: 0;
    left: 30px;
    transform: rotate(-90deg);
    transform-origin: left;
}

.top-fruit{
    width: 30px;
    height: 30px;
    background: linear-gradient(darkblue, blue);
    position: absolute;
    top: 0;
    left: 30px;
    transform: rotateX(-90deg);
    transform-origin: bottom;
}

.bottom-fruit{
    width: 30px;
    height: 30px;
    background: linear-gradient(darkblue, blue);
    position: absolute;
    top: 0;
    left: 30px;
    transform: rotateX(90deg);
    transform-origin: top;
}

.fruit{
    background: blue;
    transform-style: preserve-3d;
}

.menu{
    opacity: 1;
}

.intro-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    transform: skew(-7deg);
    animation: move 2s infinite 0s;
}

@keyframes move {
    0%{
        top: 50px;
    }
    50%{
        top: 90px;
    }
    100%{
        top: 50%;
    }
}

.intro-cont p{
    font-size: 30.5 em;
    font-family: monospace;
    color: #fff;
    text-shadow: 1px 1px 0px #ccc,
                 2px 2px 0px #ccc,
                 3px 3px 0px #ccc,
                 4px 4px 0px #ccc,
                 5px 5px 0px #000;
}

.intro-cont p> span:nth-of-type(1){
    color: blue; 
    text-shadow: 1px 1px 0px darkblue,
                 2px 2px 0px darkblue,
                 3px 3px 0px darkblue,
                 4px 4px 0px darkblue,
                 5px 5px 0px #000;
}

.intro-cont p> span:nth-of-type(2){
    color: red; 
    text-shadow: 1px 1px 0px darkred,
                 2px 2px 0px darkred,
                 3px 3px 0px darkred,
                 4px 4px 0px darkred,
                 5px 5px 0px #000;
}

.intro-cont p> span:nth-of-type(3){
    color: yellow; 
    text-shadow: 1px 1px 0px rgb(130, 139, 0),
                 2px 2px 0px rgb(130, 139, 0),
                 3px 3px 0px rgb(130, 139, 0),
                 4px 4px 0px rgb(130, 139, 0),
                 5px 5px 0px #000;
}

.intro-cont p> span:nth-of-type(4){
    color: rgb(2, 255, 2);
    text-shadow: 1px 1px 0px darkgreen,
                 2px 2px 0px darkgreen,
                 3px 3px 0px darkgreen,
                 4px 4px 0px darkgreen,
                 5px 5px 0px #000;
}


.start-btn{
    padding: 1em 3em;
    background: linear-gradient(darkblue, blue);
    margin-top: 80px;
    color: #fff;
    border: 0;
    border-radius: 2em;
    font-family: monospace;
    box-shadow: 1px 1px 0px darkblue,
                 2px 2px 0px darkblue,
                 3px 3px 0px darkblue,
                 4px 4px 0px darkblue,
                 5px 5px 0px #000;             
    text-shadow: 1px 1px 0px #ccc,
                 2px 2px 0px blue,
                 3px 3px 0px darkblue,
                 4px 4px 0px darkblue,
                 5px 5px 0px #000;
    cursor:pointer;
    transition: .3s;
}

.start-btn:hover{
    padding: 1 em 4em;
}

/*Select levels*/

.menu-select-cont{
    height: 100vh;
    width: 100vw;
    background: #113;
    opacity: 1;
    position: absolute;
    top: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1em;
}

/*Transitions*/

.show-levels{
    animation: shows .8s forwards ease-in 0s;
}

@keyframes shows {
    0%{
        top: 100vh;
    }
    100%{
        top: 0;
    }
    /*background: orange;*/
}

.menu-select{
    color: #fff;
    font-size: 3.5rem;
    font-family: monospace;
    text-align: center;
    text-shadow: 1px 1px 0 #ccc,
					 2px 2px 0 #ccc,
					 3px 3px 0 #ccc,
					 4px 4px 0 #ccc,
					 5px 5px 0 #ccc,
					 10px 10px 0 #000;
}

.easy{
    color: #fff;
    background: linear-gradient(orange, darkorange);
    box-shadow: 1px 1px 0 orange,
                2px 2px 0 orange,
                3px 3px 0 orange,
                4px 4px 0 orange,
                5px 5px 0 orange,
                10px 10px 0 #000;
}


.medium{
    background: linear-gradient(darkgreen, green);
    box-shadow: 1px 1px 0 darkgreen,
             2px 2px 0 darkgreen,
             3px 3px 0 darkgreen,
             4px 4px 0 darkgreen,
             5px 5px 0 darkgreen,
             10px 10px 0 #000;
    color: #fff;
}

.hard{
    background: linear-gradient(darkred, red);
    box-shadow: 1px 1px 0 darkred,
             2px 2px 0 darkred,
             3px 3px 0 darkred,
             4px 4px 0 darkred,
             5px 5px 0 darkred,
             10px 10px 0 #000;
    color: #fff;
}

.menu-select button{
    padding: 1em 3em;
    margin-top: 80px;
    border: 0;
    border-radius: 2em;
    font-family: comic sans ms;
    cursor: pointer;
    transition-duration: .3s;
}

